# 第一步，下載資料

https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
### Data Sources
    sample_submission.csv    1459 x 2
    test.csv    1459 x 80
    train.csv    1460 x 81
    data_description.txt

In [1]:
import pandas as pd

In [2]:
#用pandas 載入資料來看一下
labeled_df = pd.read_csv("./data/train.csv")
test_df = pd.read_csv("./data/test.csv")
sample_df = pd.read_csv("./data/sample_submission.csv")

#印出來的結果跟題目說明是一樣的
print(labeled_df.shape)
print(test_df.shape)
print(sample_df.shape)
labeled_df.head()
test_df.head()

(1460, 81)
(1459, 80)
(1459, 2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

# 看一下關聯性

In [3]:
# labeled_df = pd.read_csv("./data/train.csv")
# corr_mat = labeled_df.corr()["SalePrice"]
# corr_mat.abs().sort_values(ascending=False)

In [4]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression() # 初始化 initialization
# print(reg)

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np
X = labeled_df["GrLivArea"].values.reshape(-1, 1)
y = labeled_df["SalePrice"].values.reshape(-1, 1)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=123)
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
X_test = test_df["GrLivArea"].values.reshape(-1,1)
y_test = reg.predict(X_test)
y_test

array([[115177.34641192],
       [160251.97703715],
       [191481.51326711],
       ...,
       [149321.63935667],
       [122880.63201531],
       [230102.03973815]])

In [7]:
ans = pd.DataFrame()
ans["Id"] = sample_df["Id"]
ans["SalePrice"] = y_test
ans.head()

     Id      SalePrice
0  1461  115177.346412
1  1462  160251.977037
2  1463  191481.513267
3  1464  188879.051915
4  1465  155151.152786

In [8]:
ans.to_csv("submission.csv",index=False)